@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.banner {
    @include display-flex();
    @include flex-direction(column);
}

.imageContainer {
    position: relative;
    padding-top: $single;
    padding-bottom: $single;
    margin: 0 auto;
    max-height: 50px;
    max-width: 50px;
}

.content {
    text-align: center;
    padding-bottom: $single;
}

.title {
    color: $tertiary;
}

.image {
    @include border-radius(100%);
    height: 100%;
    width: 100%;
  }
  
.buttonWrapper {
    padding-top: $single;
    padding-bottom: $double;
    margin: 0 auto;
}

@media (width >= $container-desktop) {

    .imageContainer {
        max-height: 100px;
        max-width: 100px;
        padding-top: $double;
    }

}