@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/breakpoints";
@import "../partials/util";

.mediaMix {
  position: relative;
}

.mediaMix,
.wrapper,
.mediaMixColumn {
  @include display-flex();
  @include flex-direction(column);
}

.wrapper {
  gap: $single;
}

.mediaMixColumn {
  margin: auto;
}

.markdown {
  padding-left: $single;
  padding-right: $single;
}

.imageContainer,
.videoContainer {
  position: relative;
  padding: $single;
  min-height: 325px;
}

.imageContainer {
  width: 100vw;
}

.image {
  object-fit: cover;
  width: inherit;
  height: inherit;
}

.videoContainer {
  z-index: 30;
  max-width: 325px;
}

.buttonWrapper {
  padding: 0 $single;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: fit-content;
}

/* DESKTOP STYLES */
@media (width >= $container-desktop) {

  .wrapper {
    @include flex-direction(row);
  }

  .mediaMixColumn {
    max-width: calc($container-desktop / 2);
    flex: 0 0 50%;
  }

  .videoContainer {
    min-height: 500px;
    max-width: 500px;
    margin: auto;
  }

  .imageContainer {
    min-height: 500px;
    max-width: 720px;
  }

  .buttonWrapper {
    margin-left: initial;
    margin-right: initial;
  }
}
