@import "breakpoints";
@import "variables";

.container {
  margin: 0 auto;
  width: 100%;
}

.bg-primary {
  background-color: $primary;
  color: $white;
}

.bg-secondary {
  background-color: $secondary;
  color: $white;
}


/* DESKTOP STYLES */
@media (width >= $container-desktop) {
  .container {
    max-width: $container-desktop;
  }
}